/* common start */
body {
    margin:0;
    font-family:sans-serif ;
    font-size: 16px;
    font-weight: 400 ;
    color: #0f2656;
}
/* common end */



/* header start */
header{
    border-bottom: 1px solid rgb(247, 226, 226);
  padding: 15px 0px;
     
}
.container {
    width: 85%;
    /* border: 1px solid red; */
    margin: 0 auto;
    overflow: hidden;
}
.logo {
    width: 7%;
    /* border: 1px solid rgb(222, 247, 35); */
    float: left;
    
}
.logo a {
    display: block;
  
}
.logo a img {
    width: 100%;
}
.meno {
    width: 70%;
    /* border: 1px solid rgb(41, 216, 64); */
    float: right;
    margin-top: 3px;
}
.meno ul {
    float: right;
}
.meno ul li{
    list-style: none;
    float: left;
}
.meno ul li a {
    text-decoration: none;
    padding: 0px 30px;
    display: inline block;
    color: #0f2656;
}
.meno ul li a:hover {
    color:#008aff ;
}
.meno ul li a:last-child {
    padding-right: 0px;
}
/* header end */





/* start banner */
.banner {
    padding: 40px 0px;
}
.container-2 {
    width: 50%;
    /* border: 1px solid red; */
    margin: 0px auto;
   
}
.banner .container-2 {
    text-align: center;
}
.b-h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-block-start: 0;
    margin-block-end: 0;
}
span {
    color: #008aff;
}
.b-p {
    line-height: 25px;
}
.b-img {
}
.b-img img {

}
/* end banner */



/* star section_3 */
.section-3 {
    padding: 20px 0px;
}

.container-3 {
    width: 50%;
    margin: 0 auto;
    /* border: 1px solid gray; */
    overflow: hidden;
}

.col-1 {
    /* border: 1px solid red; */
    float: left;
    width: 48%;
    text-align: end;
}

.section_3_h1 {
    color:#f15767;
    font-size: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.section_3_p {
    display: block;
}

.col-2 {
    /* border: 1px solid rgb(23, 222, 30); */
    float: right;
    width: 50%;
}
.section_3_h2 {
    font-size: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
}
/* end section_3 */

/* start section_4 */
.section-4 {
padding: 20px 0px;
}
.row {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0px auto;
    overflow: hidden;
}
.col {

}
.clo_1 {
    width: 30%;
    float: left;
    background-color:#ebf9f4;
}
.s_4_img_1 {
    width: 80%;
    margin: 0px auto;
}
.s_4_img_1 img {
    width: 100%;
}
.col_2 {
    width: 30%;
    float: left;
    margin-left: 80px;
    background-color:#fdebed;
}
.s_4_img_2 {
    width: 80%;
    margin: 0px auto;
}
.s_4_img_2 img {
    width: 100%;
}
.col_3 {
    width: 30%;
    float: right;
    background-color: #fff6e3 
}
.s_4_img_3 {
    width: 80%;
    margin: 0px auto;
}
.s_4_img_3 img {
    width:100%;
}

.s4_h2_p {
    margin: 0px 35px;
    padding-bottom: 30px;
}
/* end section_4 */

 /* start footer */
 .footer{
     padding: 15px 0px;
    background-color: #008aff;
    margin-top: 20px;
 }
 .container_4{
    width: 50%;
    margin: 0px auto; 
 }
 .f_p{
    color: rgb(240,240,240);
    text-align: center;
 }
 .f_p b {
    letter-spacing: 3px;
    color: white;
 }
 /* end footer */
